<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <div id="app">
        <!-- Favorites -->
        <div class="favorites">
            <transition-group name="list">
                <div v:if="allFavorites" class="favorite" :class="{'favorite--selected' : checkFavorite(favorite.login)}" v-for="favorite in allFavorites" :key="favorite.id">
                    <a @click.prevent="showFavorite(favorite)" href="#"><img :src="favorite.avatar_url" alt="" class="favorite__avatar"></a>
                </div>
            </transition-group> 
        </div>

        <!-- Content -->
        <article class="content">
            <h1 class="content__title">Github Users Search</h1>
            <!-- Search -->
            <!-- para escuchar eventos usamos la directiva v-on o su abreviatura @-->
            <form class="search" v-on:submit.prevent="doSearch">
                <input v-model="search" type="text" class="search__input" required placeholder="Search GitHub users">
                <input type="submit" class="search__submit" value="Search">
            </form>

            <!-- Result -->
            <Transition>
                <div v-if="result" class="result">
                    <!-- Las propiedades computadas nos sirven para separar la logica (cuando es compleja) del template y reutilizarla en otros sitios si es necesario -->
                    <a v-if="isFavorite" href="#" class="result__toggle-favorite" @click="removeFavorite">❌ Remove favorite</a>
                    <!-- para escuchar eventos usamos la directiva v-on o su abreviatura @ -->
                    <a v-else href="#" class="result__toggle-favorite" @click="addFavorite">Add favorite ⭐</a>
                    <div class="result__name">{{ result.name }} alias {{result.login}}</div>
                    <!-- para atributos usamos la directiva v-bind o su abreviatura : , y no se usan las dobles llaves {{}}-->
                    <!-- dos ejemplos ⬇️ -->
                    <img class="result__avatar" v-bind:src="result.avatar_url" :alt="result.name">
                    <div class="result__bio">
                        <p>{{ result.bio }}</p>
                        <a class="result__blog" v-if="result.blog" :href="result.blog">{{result.blog}}</a>
                    </div>
                </div>
            </Transition>
            <!-- Error -->
            <Transition>
            <div v-if="error" class="result__error">{{ error }}</div>
            </Transition>
            
        </article>
    </div>
    <script src="js/main.js"></script>
</body>

</html>